@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* manrope-600 - latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: local(''),
      url('/fonts/manrope-v12-latin/manrope-v12-latin-600.woff2')
        format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/manrope-v12-latin/manrope-v12-latin-600.woff')
        format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* manrope-800 - latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: local(''),
      url('/fonts/manrope-v12-latin/manrope-v12-latin-800.woff2')
        format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/manrope-v12-latin/manrope-v12-latin-800.woff')
        format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html {
    font-family: Manrope, system-ui, sans-serif;
  }
}

@layer components {
  input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
  }

  input[type='range']:focus {
    outline: none;
  }

  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: hsl(224, 65%, 95%);
    border-radius: 9999px;
  }

  input[type='range']:focus::-webkit-slider-runnable-track {
    background: hsl(224, 65%, 95%);
  }

  input[type='range']::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: hsl(224, 65%, 95%);
    border-radius: 9999px;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    appearance: none;
    height: 2.75rem;
    width: 2.75rem;
    border: 0;
    background: url('/images/icon-input-range-thumb.svg');
    cursor: grab;
    margin-top: -1rem;
    box-shadow: 0rem 1rem 2rem hsl(174, 86%, 45%);
    border-radius: 50%;
    z-index: 10;
  }

  input[type='range']::-moz-range-thumb {
    position: relative;
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 0;
    background: url('/images/icon-input-range-thumb.svg');
    cursor: grab;
    box-shadow: 0rem 1rem 2rem hsl(174, 86%, 45%);
    border-radius: 50%;
    z-index: 10;
    border: 0;
  }

  input[type='range']::-webkit-slider-thumb:active {
    cursor: grabbing;
  }

  input[type='range']::-moz-range-thumb:active {
    cursor: grabbing;
  }
}
